/* Reset some default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden; /* Hide horizontal scroll, only vertical should be possible */
    scroll-behavior: smooth; /* Smooth scrolling behavior */
}

/* Make fullscreen sections */
section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    scroll-snap-align: start; /* Snap sections to the viewport when scrolling */
}

/* Colors */
#Section1 {
    background-color: #22223b;
}

#Section2 {
    background-color: #4a4e69;
}

#Section3 {
    background-color: #9a8c98;
}

#Section4 {
    background-color: #c9ada7;
}

#Section5 {
    background-color: #f2e9e4;
}

/* Header Style */
.content h1 {
    font-size: 3rem;
    color: white;
}
